<main class="wrapper">
    <section class="section">
        <div class="top-header">
            <h1>Acerca de Mi</h1>
        </div>
        <app-infinitecarousel></app-infinitecarousel>
        <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>Introduccion</h3>
                    <p>I am well-versed in HTML, CSS and JavaScript, and other cutting-edge frameworks and libraries, which allows me to implement interactive features. Additionally, I have experience working with content management systems (CMS) like WordPress.</p>
                    <div class="about-btn">
                        <button class="btn color__three"><a class="color__text_four enlace" href="assets/documents/AdrianAlvarado.pdf" download>Download CV <i class="uil uil-import"></i></a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Frontend</h3>
                    </div>
                    <div class="skills-list">
                        <span class="color__three color__text_four">HTML</span>
                        <span class="color__three color__text_four">CSS</span>
                        <span class="color__three color__text_four">Sass</span>
                        <span class="color__three color__text_four">Bootstrap</span>
                        <span class="color__three color__text_four">JavaScript</span>
                        <span class="color__three color__text_four">TypeScript</span>
                        <span class="color__three color__text_four">Angular</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Backend</h3>
                    </div>
                    <div class="skills-list">
                        <span class="color__three color__text_four">PHP</span>
                        <span class="color__three color__text_four">JAVA</span>
                        <span class="color__three color__text_four">NodeJs</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Database</h3>
                    </div>
                    <div class="skills-list">
                        <span class="color__three color__text_four">MySQL</span>
                        <span class="color__three color__text_four">SqlServer</span>
                        <span class="color__three color__text_four">MongoDB</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-header">
                        <h3>Server</h3>
                    </div>
                    <div class="skills-list">
                        <span class="color__three color__text_four">AWS</span>
                        <span class="color__three color__text_four">Google Cloud</span>
                        <span class="color__three color__text_four">Azure</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
