
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="Inicio">Mi Sitio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#Inicio" aria-current="page" style="color: #105d4f;">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#Sobre-Mi" style="color: #105d4f;">Acerca de</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Portafolio" style="color: #105d4f;">Portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#Contacto" style="color: #105d4f;">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-inicio id="Inicio"></app-inicio>

<app-sobremi id="Sobre-Mi"></app-sobremi>
<app-portafolio id="Portafolio"></app-portafolio>
<app-contacto id="Contacto"></app-contacto>
<router-outlet />
