/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
    padding-inline: 10vw;
}

/* ----- MAIN BOX ----- */
.section {
    padding-block: 5em;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
    text-align: center;
    margin-bottom: 4em;
}

.top-header h1 {
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}

/* ----- FEATURED WRIPER ----- */
.featured-wriper {
    font-size: 50px;
    font-weight: 600;
    margin-block: -3rem;
}

.letras {
    font-size: 28px;
}
