<div class="logos">
    
    <div class="logos-slide">
      <img src="assets\img\carousel\html.svg" />
      <img src="assets\img\carousel\css.svg" />
      <img src="assets\img\carousel\javascript.svg" />
      <img src="assets\img\carousel\ts.svg" />
      <img src="assets\img\carousel\sass.svg" />
      <img src="assets\img\carousel\nodejs.svg" />
      <img src="assets\img\carousel\wordpress.svg" />
      <img src="assets\img\carousel\bootstrap.svg" />
      <img src="assets\img\carousel\php.svg" />
      <img src="assets\img\carousel\elementor.svg" />

    </div>
  </div>