* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 0.5rem ;
    
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 250px;
    content: "";
    z-index: 2;
  }
  
  
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
    margin-bottom: 2.5rem;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
