<!-- <div class="card-container">
    <div class="card">
        <img src="assets\img\carousel\bootstrap.svg" alt="Placeholder Image">
        <div class="overlay">
          <div class="image-container">
            <img src="https://via.placeholder.com/50" alt="Icon 1">
            <img src="assets\img\card\angular.png" alt="Icon 2">
          </div>
          <div class="button-container">
            <button>Button 1</button>
            <button>Button 2</button>
          </div>
        </div>
    </div>
    
        <div class="card">
            <img src="assets\img\card\angular.png" alt="Placeholder Image">
            <div class="overlay">
              <div class="image-container">
                <img src="assets\img\carousel\bootstrap.svg" alt="Icon 1">
                <img src="https://via.placeholder.com/50" alt="Icon 2">
              </div>
              <div class="button-container">
                <button>Button 1</button>
                <button>Button 2</button>
              </div>
            </div>
        </div>

        <div class="card">
            <img src="https://via.placeholder.com/250x200" alt="Placeholder Image">
            <div class="overlay">
              <div class="image-container">
                <img src="https://via.placeholder.com/50" alt="Icon 1">
                <img src="https://via.placeholder.com/50" alt="Icon 2">
              </div>
              <div class="button-container">
                <button>Button 1</button>
                <button>Button 2</button>
              </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\img\card\angular.png" alt="Placeholder Image">
            <div class="overlay">
              <div class="image-container">
                <img src="https://via.placeholder.com/50" alt="Icon 1">
                <img src="https://via.placeholder.com/50" alt="Icon 2">
              </div>
              <div class="button-container">
                <button>Button 1</button>
                <button>Button 2</button>
              </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\img\card\angular.png" alt="Placeholder Image">
            <div class="overlay">
              <div class="image-container">
                <img src="https://via.placeholder.com/50" alt="Icon 1">
                <img src="https://via.placeholder.com/50" alt="Icon 2">
              </div>
              <div class="button-container">
                <button>Button 1</button>
                <button>Button 2</button>
              </div>
            </div>
        </div>

        <div class="card">
            <img src="assets\img\card\angular.png" alt="Placeholder Image">
            <div class="overlay">
              <div class="image-container">
                <img src="https://via.placeholder.com/50" alt="Icon 1">
                <img src="https://via.placeholder.com/50" alt="Icon 2">
              </div>
              <div class="button-container">
                <button>Button 1</button>
                <button>Button 2</button>
              </div>
            </div>
        </div>

       
</div>
 -->
<main class="wrapper">
  <div class="card-container">
    @for (card of cards; track $index) {
    <div class="card" >

      <img src="{{ card.imageUrl }}" alt="Placeholder Image">
      <div class="overlay">
        <div class="image-container">
          @for (icon of card.icon; track $index) {
          <img src="{{ icon }}" alt="Icon 1">
          }
        </div>
        @for (link of card.link; track $index) {
        <div class="button-container">
          <button><a class="color__text_primary" target="_blank"
            href="{{ link }}"><i class="uil--github-alt"></i></a></button>
          
        </div>
      }
      </div>
    </div>
    }
  </div>
</main>