<!-- -------------- MAIN ---------------- -->
<main class="wrapper">
  <!-- -------------- FEATURED BOX ---------------- -->
  <section class="featured-box" id="home">
      <div class="featured-text">
          <div class="featured-text-card color__text_secundary">
              <span class="sale">Adrian Alvarado</span>
          </div>
          <div class="featured-name">
              <p class="color__text_primary letras">I'm </p> 
              <ngx-typed-writer class="color__text_secundary letras" [strings]="['Frontend', 'Backend','FullStack','Developer']" [showCursor]="true" [backSpeed]="30" [typeSpeed]="30" [loop]="true"></ngx-typed-writer>
          </div>
          <div class="featured-text-info">
              <p class="color__text_primary">Desarrollador frontend experimentado apasionado por crear sitios web visualmente impresionantes y fáciles de usar.</p>
          </div>
          <div class="featured-text-btn">
              <button class="btn"><a class="color__text_four sincolor" href="#Sobre-Mi">Acerca de Mi</a></button>
              <button class="btn"><a class="color__text_four sincolor" href="assets/documents/AdrianAlvarado.pdf" download>Descargar CV <i class="uil uil-file-alt"></i></a></button>
          </div>
          <div class="social_icons">
              <div class="icon"><a class="color__text_primary" target="_blank" href="https://www.linkedin.com/in/adrian-josué-alvarado-sánchez-831260225/"><i class="uil uil-linkedin-alt"></i></a></div>
              <div class="icon"><a class="color__text_primary" target="_blank" href="https://github.com/Bloddy20Moon"><i class="uil uil-github-alt"></i></a></div>
          </div>
      </div>
      <div class="featured-image">
          <div class="image">
              <img src="assets/img/gato.png" alt="avatar">
          </div>
      </div>
  </section>
</main>
