/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #f57a39;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn:hover  {
    background: #bd3111;
    color: #f9f6ee ;
}
.sincolor {
    color: #f9f6ee; /* Color predeterminado para los enlaces azules */
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
    font-size: 16px;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
    display: flex;
    height: 10vh;
    min-height: 600px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    
    margin-block: 20px;
}

.featured-text-info {
    font-size: 15px;
    margin-bottom: 30px;
    color: #105d4f;
}

.featured-text-btn {
    display: flex;
    gap: 20px;
}
.featured-text-btn .btn a {
    text-decoration: none; /* Esta línea elimina la línea azul debajo de los enlaces */
}

.social_icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.letras{
    font-size: 45px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.icon:hover {
    color: #105d4f;
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}

   
.image {
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}

.image img {
    width: 380px;
    height: 380px;
    object-fit: cover;
}

@keyframes imgFloat {
    50% {
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
    .featured-text {
        padding: 0;
    }

    .image,
    .image img {
        width: 320px;
        height: 320px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .featured-box {
        flex-direction: column;
        justify-content: center;
        height: 115vh;
    }

    .featured-text {
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
      
    }

    .social_icons {
        margin-top: 3.5em;
    }

    .featured-image {
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }

    .image,
    .image img {
        width: 200px;
        height: 200px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
}
